### CONVENTIONS ###
# global outcar ingore pattern regardless of dataset::
**/outcar*/
# ppr-** pieces to include in actual paper text

# Custom patterns
**_.md
**_.png
**_.svg
**_.pdf
**_.json
**_.ipynb
**.ipynb
**.tgz
**/00-outcar-pure

## slides
src/modules_v2/main/xslides/*.png
src/modules_v2/main/xds-metrics/xout*

## all main
src/modules_v2/main/*/pics/
src/modules_v2/main/xds-metrics/x-*.pdf
**tables.pdf

## md-txt
src/modules/md-txt/prompt-hull.md
src/modules/md-txt/prompt-md.md

## xds-metrics
src/modules/main/xds-metrics

## bin
src/modules_v2/vsf/bin/devil/integration_test_20251006_030034
src/modules/vsf/bin/devil/demo_vasp_calcs

## md
src/modules/main/md-independent/data

## hull
src/modules/main/hull-eform/src
src/modules/main/hull-eform/pics

## liquid
src/modules/main/liquid/liquid-0input
src/modules/main/liquid/liquid-1tests
src/modules/main/liquid/liquid-300k1-analysis
src/modules/main/liquid/liquid-300k2-analysis

## rand
src/modules/main/rand-eform/e-rand-**
src/modules/main/*/*.svg
src/modules/main/rand-eform/xpics/*svg
src/modules/main/rand-eform/00-hull/*
src/modules/main/rand-eform/e-0*
src/modules/main/xfigs/*png
src/modules/main/rand-eform/xresults/plots*

## catxy
src/modules/main/catxy-eform/00-*
src/modules/main/catxy-eform/pics

## venv checks
src/venvs/Al4

## singularity build images src
**/ifort/*/*
!**/ifort/*/OUTCAR
**/ifx/*/*
!**/ifx/*/OUTCAR
**/native/*/*
!**/native/*/OUTCAR

**/containers/cpu/src
**/containers/cpu/vasp-cpu-dev-dir**
**/containers/gpu/src
**/containers/gpu/vasp.dev-**
**/containers/cpu/vasp.dev-cpu-**
**.sif

## tests
**test-ase**
**test-pmg**
**test.py
**_test
test--**

## benchmarks
src/bench/00-ncore-vs-time/02-zhores/x-**
src/bench/01-kpoints-monkhorst-vs-cpu/01-zhore-res/x-**
src/bench/01-kpoints-monkhorst-vs-cpu/data/rrand
src/bench/01-kpoints-monkhorst-vs-cpu/data-rand
src/bench/02-kpoints-vs-density/01-zhores-res/x-**
src/bench/02-kpoints-vs-density/data/x-**
src/bench/00-ncore-vs-time/data/*

## examples
src/modules/examples/flow/files/staer

## tools
tools/11-cell-edit/**POSCAR
tools/12-mp-api/**.poscar
tools/12-mp-api/**POTCAR
**POTCAR

## demos
demos/**/**POSCAR
demos/**/POTCAR
demos/**/KPOINTS
demos/**/INCAR
demos/**/**poscar

# Tmp files
**.lock
**.used_seeds_*.txt

# Package specific
**prompt.md
**response.md

## general
.vscode
**tmp**
**__pycache__

**cif_mp
**.cif
**.log
**.traj

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

## Core latex/pdflatex auxiliary files:
*.aux
*.bbl
*.blg
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*_.pdf
